name: CI

on: [push, pull_request]

env:
  HEAPS_VER: master

permissions:
  contents: write

jobs:
  deploy-website:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: true

      # we are using this version in order to build vscode-textmate
      - name: Setup Node
        uses: actions/setup-node@v1

      - name: Setup Haxe
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.3.4

      - name: Install
        # at some point all npm needs to be in package.json
        run: |
          npm install
          npm install -g uglify-js
          npm install -g less@2.7
          npm install -g less-plugin-clean-css@1.5
          haxelib install all --always
          haxelib git heaps https://github.com/heapsio/heaps
          haxelib list

      - name: Script
        run: |
          haxe build-run-dox.hxml
          haxe build-samples.hxml
          haxe get-wiki.hxml
          haxe heaps.io.hxml

      - name: Deploy
        if: github.ref == 'refs/heads/master'
        run: haxe deploy.hxml
        env:
          GHP_EMAIL: "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
          GHP_USERNAME: ${{ github.actor }}
          GHP_CNAME: heaps.io
          GHP_REMOTE: https://${{ github.actor }}:${{ github.token }}@github.com/${{ github.repository }}.git
